{% extends 'base.html' %}
{% load static %}
{% load i18n%}
{% block title %}{% trans "Agregar Estilo" %}{% endblock %}

{% block bradcam_area_breadcam_bg_2 %}
    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                      <h3>{% trans "AGREGAR ESTILO" %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
{% endblock %}

{% block section-top-border %}

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-lg-6 col-md-8">
    <form method="POST" enctype="multipart/form-data" class="p-4 border rounded bg-light">
      {% csrf_token %}
      
      <!-- Nombre del Estilo -->
      <div class="mb-3">
        {{ form.estilo }}
      </div>
      
      <!-- Descripción del Estilo -->
      <div class="mb-3">
        {{ form.descripcion }}
      </div>
      
      <!-- Bandas Relacionadas -->
      <div class="mb-3">
        <label for="id_bandas" class="form-label">Bandas Relacionadas</label>
        {{ form.bandas }}
      </div>

      <!-- Botón para enviar el formulario -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar Estilo</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
