{% extends "base.html" %}

{% load i18n%}

{% block title %}{% trans "JukeBox" %}{% endblock %}

{% block music_area %}
<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>{% trans "Bandas" %}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- music_area  -->
<div class="music_area music_gallery">
    <div class="container">
        {% if bandas %}
        {% for e in bandas %}
        <div class="row align-items-center justify-content-center mb-20">
            <div class="col-xl-10">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-md-9">
                        <div class="music_field">
                            <div class="thumb">
                                <img src="{{ e.foto }}" alt="Foto de la banda">
                            </div>
                            <div class="audio_name">
                                <div class="name">
                                    <h4><a href="{% url 'banda' e.id %}">{{e.nombre}}</a></h4>
                                    <p><a href="/appJukeBox/bandas">{{ e.fechaIni}}</a></p>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="https://www.w3schools.com/html/horse.mp3">
                                </audio>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3">
                        <div class="music_btn">
                            <a href="{% url 'banda' e.id %}" class="boxed-btn">{% trans "Más Información" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row align-items-center justify-content-center mb-20">
            <div class="col-xl-10">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-md-9">
                        <div class="music_field">
                            <div class="audio_name">
                                <div class="name">
                                    <h4>{% trans "No hay bandas creadas." %}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row align-items-center justify-content-center mb-20">
            <div class="col-xl-12 text-center">
                <h4>{% trans "¿No encuentras tu banda?" %}</h4>
                <a href="{% url 'addBanda' %}" class="boxed-btn">{% trans "Añade una nueva banda" %}</a>  <!-- Botón para añadir una banda -->
            </div>
        </div>
    </div>
    
</div>
<!-- music_area end  -->
{% endblock %}