{% extends "base.html" %}

{% block title %}{% trans "JukeBox" %}{% endblock %}

{% block music_area %}
<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>{{ pais.pais }}<img class="bandera-h3" src="{{pais.bandera}}"></h3>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- music_area  -->
<div class="music_area music_gallery">
    <div class="container">
        
        {% if bandas %}
        <div class="row">
            <div class="col-xl-12 text-center mb-1">
                <p>
                    {% blocktrans count numero_bandas as numero_bandas %}
                        {{ pais.pais }} tiene {{ numero_bandas }} banda
                    {% plural %}
                        {{ pais.pais }} tiene {{ numero_bandas }} bandas
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        {% for e in bandas %}
        <div class="row align-items-center justify-content-center mb-20">
            <div class="col-xl-10">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-md-9">
                        <div class="music_field">
                            <div class="thumb">
                                <img src="{{e.foto}}" alt="">
                            </div>
                            <div class="audio_name">
                                <div class="name">
                                    <h4><a href="{% url 'banda' e.id %}">{{ e.nombre }}</a></h4>
                                    <p>{{ e.fechaIni }}</p>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="https://www.w3schools.com/html/horse.mp3">
                                </audio>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3">
                        <div class="music_btn">
                            <a href="{% url 'banda' e.id %}" class="boxed-btn">{% trans "Más Información" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-65">
                    <h4>{% trans "No hay bandas para este pais" %}</h4>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- music_area end  -->
{% endblock %}
